<nav class="navbar bg-neutral text-white fixed z-1000">
  <div class="container mx-auto flex items-center justify-between
              h-12 md:h-16 py-4">
    <!-- Logo -->
    <a class="h-full" routerLink="">
      <img src="img/logos/logo-dark.svg" alt="ZenCode Logo" class="h-full">
    </a>


    <!-- Menú -->
    <ul class="hidden md:flex space-x-6 text-lg items-center">
      <li><a routerLink="." class="hover:text-gray-300" i18n="nav home@@nav-home">Inicio</a></li>
      <li><a routerLink="services" class="hover:text-gray-300" routerLinkActive="active"
          i18n="nav services@@nav-services">Servicios</a></li>
      <li><a routerLink="contact" class="hover:text-gray-300" routerLinkActive="active"
          i18n="nav contact@@nav-contact">Contacto</a></li>
      <li>
        <select class="select select-sm w-28 bg-neutral-700 text-white no-border-select" [value]="getCurrentLang()"
          (change)="switchLang($event)">
          <option value="es">Español</option>
          <option value="en">English</option>
        </select>
      </li>
    </ul>

    <!-- Mobile: menú y selector de idioma juntos -->
    <div class="flex md:hidden items-center space-x-2">
      <select class="select select-sm w-24 bg-neutral-700 text-white no-border-select" [value]="getCurrentLang()"
        (change)="switchLang($event)">
        <option value="es">Español</option>
        <option value="en">English</option>
      </select>
      <button class="focus:outline-none" (click)="toggle()">
        <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
        </svg>
      </button>

    </div>
  </div>
</nav>