<nav class="navbar bg-neutral text-white flex justify-end p-4 items-center">
    <div>
        <button (click)="toggle()">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="icon icon-tabler icons-tabler-outline icon-tabler-x">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M18 6l-12 12" />
                <path d="M6 6l12 12" />
            </svg>
        </button>
    </div>
</nav>


<div class="menu">
    <div routerLink="" class="item button" matRipple (click)="toggle()" routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }">
        Inicio
    </div>
    <div routerLink="services" class="item button" matRipple (click)="toggle()" routerLinkActive="active">
        Servicio
    </div>
    <div routerLink="contact" class="item button" matRipple (click)="toggle()" routerLinkActive="active">
        Contacto
    </div>
</div>